@mixin j600 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}
@mixin j700 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

@mixin o400 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
@mixin o600 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
