.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    & a:hover {
        color: #ff4b32;
        opacity: 1;
    }
    &__logo {
        display: flex;
        margin-right: 30px;
    }

    &__name {
        @include j700;
        color: #ff4b32;
        font-size: 24px;
        line-height: 31px;
        padding-top: 20px;
        padding-left: 10px;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include o400;
        font-size: 18px;
        line-height: 160%;
        width: 730px;
        @media (max-width: 767.98px) {
            position: fixed;
            z-index: 10;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            flex-direction: column;
            font-size: 32px;
            transition: 1s;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.active {
                top: 0;
            }
            & li {
                margin-bottom: 40px;
                &:nth-child(n + 6) {
                    display: none;
                }
            }
        }
        & a {
            color: #ffffff;
            opacity: 0.6;
        }
    }
}

// ------Меню бургер----------------------

.burger {
    // margin конкретно для данного макета, для других не нужен:
    margin: 15px 0 0 0;
    // ----------------------------------------
    display: none;
    @media (max-width: 767px) {
        display: block;
        position: relative;
        width: 60px;
        height: 30px;
        z-index: 10;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        // ------transition задаем сюда, а не в active, чтобы работало в обратном порядке тоже
        transition: 0.5s;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    & span {
        position: absolute;
        background-color: white;
        left: 0;
        top: 14px;
        width: 100%;
        height: 2px;
        transition: 0.5s;
    }
}

// ----меняем бургер на крестик---------

.burger.on {
    &::before {
        transform: rotate(45deg);
        top: 14px;
    }
    &::after {
        transform: rotate(-45deg);
        bottom: 14px;
    }
    & span {
        transform: scale(0);
    }
}
